<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Страница регистрации</h1>

<!-- Thymeleaf форма с автоматическим CSRF токеном -->
<form th:action="@{/users/register}" method="post">
    <div>
        <label>Имя пользователя:</label>
        <input type="text" name="username" th:value="${username}" required>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="email" th:value="${email}" required>
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password" required>
    </div>
    <button type="submit">Зарегистрироваться</button>
</form>


<p style="margin-top: 20px;">
    Уже есть аккаунт? <a th:href="@{/users/login}">Войдите здесь</a>
</p>

<!-- Отладочная информация -->
<script>
    console.log("Страница регистрации загружена");
    console.log("CSRF parameter: [[${_csrf?.parameterName}]]");
    console.log("CSRF token: [[${_csrf?.token}]]");
</script>
</body>
</html>